html, body {
  height: auto;
  width: auto;
  background-color: #fff5f2;
  color: #341713;
}

h1 {
font-family: verdana;
  font-style: bold; 
  text-align: center;
  color: #341713;
}

body {
  font-family: verdana;
}

.q{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.divsex{
  font-style: italic;
text-align: center;
  margin-bottom: 50px;
  margin-left: 20px; 
  margin-right: 20px;
}

.lgbt{
font-style: italic;
text-align: center;
  margin-bottom: 10px;
  margin-left: 20px; 
  margin-right: 20px;  
}

.def{
  font-style: italic;
text-align: center;
  margin-bottom: 50px;
  margin-left: 20px; 
  margin-right: 20px;
}

.sources{
  font-size: 13px;
}

img {
  width: 250px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.topnav{
  background-color: #d1c3d9;
  overflow: hidden;
  text-align: center;
}

.topnav a:hover {
  background-color: #63516e;
  color: whitesmoke;  
}
